<% include ../partials/head.ejs %>
<% include ./partials/admin-header.ejs %>
<% include ./partials/admin-primaryNavigation.ejs %>
<main role="main" class="adminPage">
	<section>
        <h1><%= title %></h1>
        <h2>Rediger artikler</h2>
            <table>
                <thead>
                    <tr>
                        <th>Redigér</th>
                        <th>Overskrift</th>
                        <th>Kategori</th>
                        <th>Forfatter</th>
                        <th>Slet</th>
                    </tr>
                </thead>
                <tbody>
                    <% articles.forEach(article => { %> 
                    <tr>
                        <td><a href="/admin/rediger-artikel/<%= article.id %>"><i class="fas fa-edit"></i></a></td>
                        <td><%= article.name %></td>
                        <td><%= article.category %></td>
                        <td><%= article.user %></td>
                        <td><i data-id="<%= article.id %>" data-category="artikler" class="fas fa-trash-alt"></i></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        

     

        <h2>Opret ny artikel</h2>
        <form action="" method="POST" id="addNewArticle" enctype="multipart/form-data" class="postForm">
            <label>Billede</label>
            <input name="image" id="picture" type="file">
            
            <label>Overskrift</label>
            <input name="name" id="title" input="text">
            
            <label>Indhold</label>
            <textarea name="content" id="articleContent"></textarea>
            
            <label>Kategori</label>
            <div name="categories" class="categoryUpdate"></div>

            <p class="errorMessage"></p>
            <button type="submit">Gem artikel</button>
        </form>
	</section>
</main>
<script>
    $(document).ready(function() {
        $('#articleContent').summernote({height: 100, width: 400});
    });
  </script>
<script src="/scripts/dynamicSelect.js" ></script>
<script src="/scripts/validator.js"></script>
<script>
    // New article validation
    jsb.validationEmpty('#addNewArticle', '.ddList', 'Vælg kategori!', '.errorMessage');
    jsb.validationEmpty('#addNewArticle', '#articleContent', 'Skriv indhold!', '.errorMessage');
    jsb.validationEmpty('#addNewArticle', '#title', 'Udfyld titlen!', '.errorMessage');
    jsb.validationEmpty('#addNewArticle', '#picture', 'vælg et billede!', '.errorMessage');
</script>
<script>
const deleteButtons = document.querySelectorAll('.fa-trash-alt');
deleteButtons.forEach(btn => {
    btn.addEventListener('click', event => {
        const id = event.target.dataset.id;
        const category = event.target.dataset.category;
        fetch(`/admin/${category}/${id}`, {
            'method': 'DELETE'
        })
        .then(response => {
            if (response.status === 200) {
                window.location.reload();
            }
        });
    })
})
</script>
<% include ../partials/after-footer.ejs %>