<% include ../partials/head.ejs %>
<% include ./partials/admin-header.ejs %>
<% include ./partials/admin-primaryNavigation.ejs %>
<main role="main" class="adminPage">
	<section>
        <h1><%= title %></h1>
        <h2>Rediger sider</h2>
            <table>
                <thead>
                    <tr>
                        <th>Redigér</th>
                        <th>Overskrift</th>
                        <th>Kategori</th>
                        <th>Forfatter</th>
                        <th>Slet</th>
                    </tr>
                </thead>
                <tbody>
                    <% pages.forEach(page => { %> 
                    <tr>
                        <td><a href="/admin/rediger-side/<%= page.id %>"><i class="fas fa-edit"></i></a></td>
                        <td><%= page.name %></td>
                        <td><%= page.category %></td>
                        <td><%= page.user %></td>
                        <td><i data-id="<%= page.id %>" data-category="sider" class="fas fa-trash-alt"></i></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        
        <h2>Opret ny side</h2>
        <form action="" method="POST" id="addNewSite" enctype="multipart/form-data" class="postForm">
            <label>Billede</label>
            <input name="image" type="file" id="picture">
            
            <label>Overskrift</label>
            <input name="name" id="title" input="text">
            
            <label>Indhold</label>
            <textarea name="content" id="articleContent"></textarea>
            
            <label>Kategori</label>
            <div name="categories" class="categoryUpdate"></div>
            <p class="errorMessage"></p>
            <button type="submit">Gem side</button>
        </form>
	</section>
</main>
<script src="/scripts/dynamicSelect.js" ></script>
<script src="/scripts/validator.js"></script>
<script>
    // New page validation
    jsb.validationEmpty('#addNewSite', '.ddList', 'Vælg kategori!', '.errorMessage');
    jsb.validationEmpty('#addNewSite', '#articleContent', 'Skriv indhold!', '.errorMessage');
    jsb.validationEmpty('#addNewSite', '#title', 'Udfyld titlen!', '.errorMessage');
    jsb.validationEmpty('#addNewSite', '#picture', 'Vælg et billede!', '.errorMessage');
</script>
<script>
const deleteButtons = document.querySelectorAll('.fa-trash-alt');
deleteButtons.forEach(btn => {
    btn.addEventListener('click', event => {
        const id = event.target.dataset.id;
        const category = event.target.dataset.category;
        fetch(`/admin/${category}/${id}`, {
            'method': 'DELETE'
        })
        .then(response => {
            if (response.status === 200) {
                window.location.reload();
            }
        });
    })
})
</script>
<% include ../partials/after-footer.ejs %>